# =========================
# Data（絶対公開しない）
# =========================
Data/

# =========================
# 非公開フォルダ
# =========================
others/

# =========================
# config（ローカルパス）
# =========================
config.yaml

# =========================
# Notebook
# =========================
.ipynb_checkpoints/

# =========================
# OS
# =========================
.DS_Store